<%= form_for(meeting) do |f| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="small-5 large-12 columns">
  <div class="field">
    <%= f.label :Nombre_del_dueño %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Hora_y_fecha_de_la_cita %>
    <%= f.datetime_select :start_time, {:ampm => true} %>
  </div>


<div class="actions">
  <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "button secondary" %>
</div>

  </div></div>
<% end %>
