<center>
<h1>Editando cita</h1>

<%= render 'form', meeting: @meeting %>

<%= link_to '<button type="button" class="button primary small">Mostrar</button>'.html_safe, @meeting %> |
<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, meetings_path %>|
<%= link_to '<button type="button" class="button warning basci">Inicio</button>'.html_safe, meetings_path %>

</center>