<center>
<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table WIDTH="99%">
  <thead>
    <tr>
      <th>Nombre del dueño(a)</th>
      <th>Día de la cita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time.strftime("%d %B, %Y, %I:%M")  %></td>
        <td><%= link_to '<button type="button" class="button primary small">Mostrar</button>'.html_safe, meeting %></td>
        <% if current_user.role == "Doctor" %>
        <td><%= link_to '<button type="button" class="button success small">Editar</button>'.html_safe, edit_meeting_path(meeting) %></td>
        <td><%= link_to '<button type="button" class="button alert small">Eliminar!</button>'.html_safe, meeting, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role == "Doctor" %>
<%= link_to '<button type="button" class="button warning basci">Agendar cita</button>'.html_safe, new_meeting_path %>
<% end %>
</center>