<div class="row">
  <div class="large-12 columns imagen">
  <center>

<p>
  <strong>Nombre del dueño(a):</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Hora y fecha de la cita:</strong>
  <%= @meeting.start_time.strftime("%d %B, %Y, %I:%M") %>
</p>



<% if current_user.role == "Doctor" %>
<%= link_to '<button type="button" class="button success basic">Editar</button>'.html_safe, edit_meeting_path(@meeting) %> |
<% end %>
<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, meetings_path %>

</div></div>
</center>