<div class="row">
  <div class="large-12 columns">
  <center>
  <h2>Ingresar Usuario</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :recuerdame %>
    </div>
  <% end -%>

  <div class="actions modify">
    <%= f.submit "Ingresar" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div></div>
</center>