<%= form_for(vacuna) do |f| %>
  <% if vacuna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacuna.errors.count, "error") %> prohibited this vacuna from being saved:</h2>

      <ul>
      <% vacuna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :aplicacion %>
    <%= f.text_field :aplicacion %>
  </div>

  <div class="field">
    <%= f.label :doctor %>
    <%= f.text_field :doctor %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
