<p id="notice"><%= notice %></p>

<h1>Vacunas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Aplicacion</th>
      <th>Doctor</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacunas.each do |vacuna| %>
      <tr>
        <td><%= vacuna.nombre %></td>
        <td><%= vacuna.aplicacion %></td>
        <td><%= vacuna.doctor %></td>
        <td><%= vacuna.tipo %></td>
        <td><%= link_to 'Show', vacuna %></td>
        <td><%= link_to 'Edit', edit_vacuna_path(vacuna) %></td>
        <td><%= link_to 'Destroy', vacuna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacuna', new_vacuna_path %>
