<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vacuna.nombre %>
</p>

<p>
  <strong>Aplicacion:</strong>
  <%= @vacuna.aplicacion %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @vacuna.doctor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vacuna.tipo %>
</p>

<%= link_to 'Edit', edit_vacuna_path(@vacuna) %> |
<%= link_to 'Back', vacunas_path %>
