

<%= form_for(companero) do |f| %>
  <% if companero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(companero.errors.count, "error") %> prohibited this companero from being saved:</h2>

      <ul>
      <% companero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="small-5 large-4 columns">
   <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :nombre %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= f.label :Edad %>
    <%= f.number_field :edad %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= f.label :Animal %>
    <%= f.select :animal, ['Gato', 'Perro', 'Tortuga', 'Pajaro', 'Serpiente', 'Hámster', 'Pez']%>
  </div>
  </div>
</div>

<div class="row">
  <div class="small-5 large-8 columns">
   <div class="field">
    <%= f.label :Descripción %>
    <%= f.text_field :descripcion %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
<div class="field">
    <%= f.label :Color %>
    <%= f.text_field :color%>
  </div>
  </div>
</div>

<div class="row">
  <div class="small-5 large-4 columns">
     <div class="field">
    <%= f.label :Peso %>
    <%= f.text_field :peso %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= f.label :Tamaño %>
    <%= f.select :tamano, ['Miniatura', 'Chico', 'Mediano', 'Grande', 'Gigante']%>
  </div>
  </div>
  <div class="small-5 large-4 columns">
<div class="field">
    <%= f.label :Foto %>
    <%= f.file_field :foto %>
  </div>
  </div>
</div> 

<div class="row">
  <div class="small-5 large-8 columns">
    <div class="field">
    <%= f.label :Raza %>
    <%= f.text_field :raza%>
  </div>
  </div>
  <div class="small-5 large-4 columns">

  </div>
</div>


<h1>Datos del dueño</h1>
<div class="row">
  <div class="small-5 large-4 columns">
   <div class="field">
    <%= f.label :Telefono %>
    <%= f.number_field :contacto %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= f.label :Direccion %>
    <%= f.text_field :direccion %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= f.label :Dueño %>
    <%= f.text_field :dueno %>
  </div>
  </div>
</div>
 
<div class="row">
  <div class="small-5 large-8 columns">
   <div class="field">
    <%= f.label :Email %>
    <%= f.text_field :email %>
  </div>
  </div>
</div>

  
<div class="actions">
  <%= f.submit ( f.object.new_record? ? "Crear" : "Actualizar"), class: "button secondary" %>
  </div>
<% end %>