
  <% @companerosBus = Companero.where(@palabraB) %>
  
<table WIDTH="99%">
  <thead>
    <tr>
    <th colspan="2">Foto</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Raza</th>
      <th>Dueño</th>
      <th>Descripción</th>
      <th>Color</th>
      <th>Peso</th>
      <th>Tamaño</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>