<style>
img{
  max-width:  300%;
}
td{
  width: 40px;
}

table{
  vertical-align: center;
}
</style>
<center>
<p id="notice"><%= notice %></p>

<h1>Mascotas</h1>

<% if !@companeros.blank? %>

<table WIDTH="99%">
  <thead>
    <tr>
    <th colspan="2">Foto</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Raza</th>
      <th>Dueño</th>
      <th>Descripción</th>
      <th>Color</th>
      <th>Peso</th>
      <th>Tamaño</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companeros.each do |companero| %>
      <tr>
      <td><%= image_tag(companero.foto_url)  %></td>
      <td></td>
        <td><%= companero.nombre %></td>
        <td><%= companero.edad %></td>
        <td><%= companero.raza %></td>
        <td><%= companero.dueno %></td>
        <td><%= companero.descripcion %></td>
        <td><%= companero.color %></td>
        <td><%= companero.peso %></td>
        <td><%= companero.tamano %></td>
        <td><%= companero.animal %></td>
        <td><%= link_to '<button type="button" class="button primary small">Mostrar</button>'.html_safe, companero %></td>
        <% if current_user.role == "Doctor" %>
        <td><%= link_to '<button type="button" class="button success small">Editar</button>'.html_safe, edit_companero_path(companero) %></td>
        <td><%= link_to '<button type="button" class="button alert small">¡Eliminar!</button>'.html_safe, companero, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        <% end %>
                </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
<div data-alert class="alert-box alert round large-5 small-7">
    No se encontró nada con <b>" <%= params[:search] %> "</b>
    <a href="#" class="close">&times;</a>
</div>

  <%= link_to '<button type="button" class="button">Inicio</button>'.html_safe, companeros_path %>
<% end %>

<%= link_to '<button type="button" class="button warning basci">Nueva Mascota</button>'.html_safe, new_companero_path %>
</center>

