<center>
<h1>Nueva Mascota</h1>

<%= render 'form', companero: @companero %>

<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, companeros_path %>
</center>