<style>
img{
  max-width:  100%;
}
.imagen{
  width: 400px;
}
</style>

<%= link_to '<button type="button" class="button tiny success" id="open-hide">Generar PDF</button>'.html_safe, companero_path(@companero, format: "pdf") %>  

<div class="row">
  <div class="large-8 columns imagen">
  <%= image_tag(@companero.foto_url)%>
  </div>
<div class="large-4 columns">
<p>
  <strong>Nombre:</strong>
  <%= @companero.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @companero.edad %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @companero.raza %>
</p>



<p>
  <strong>Descripción:</strong>
  <%= @companero.descripcion %>
</p>

<p>
  <strong>Color:</strong>
  <%= @companero.color %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @companero.peso %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @companero.tamano %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @companero.animal %>
</p>

<p>
  <strong>Dueño:</strong>
  <%= @companero.dueno %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @companero.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @companero.contacto %>
</p>


</div>
</div>
<center>

<% if current_user.role == "Doctor" %>
<%= link_to '<button type="button" class="button success basic">Editar</button>'.html_safe, edit_companero_path(@companero) %> |
<% end %>
<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, companeros_path %>


<div class="row">
<% if current_user.role == "Doctor" %>
  <div class="large-2 columns">
  <% else %>
  <div class="large-12 colums">
  <% end %> 
  <h2>Vacunas</h2>
<% @companero.vacunas.each do |vacuna| %>
   <p>
    <strong>Nombre:</strong>
    <%= vacuna.nombre %>
  </p>
  <p>
    <strong>Aplicación:</strong>
    <%= vacuna.aplicacion %>
  </p>
   <p>
    <strong>Doctor:</strong>
    <%= vacuna.doctor %>
  </p>
   <p>
    <strong>Tipo:</strong>
    <%= vacuna.tipo %>
  </p>
  <p>
    <strong>Fecha:</strong>
    <%= vacuna.fecha %>
  </p>
 <% end %>
  </div>

  <% if current_user.role == "Doctor" %>
<div class="large-6 columns">
<h2>Añadir vacuna</h2>
<%= form_for([@companero, @companero.vacunas.build]) do |f| %>
  <p>
    <%= f.label :nombre_del_medicamento %><br>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :aplicación %><br>
    <%= f.select :aplicacion, ['Oral', 'Intradérmica', 'Subcutánea', 'Intramuscular'] %>
  </p>
   <p>
    <%= f.label :doctor %><br>
    <%= f.text_area :doctor %>
  </p>
   <p>
    <%= f.label :tipo %><br>
    <%= f.select :tipo, ['Refuerzo', 'Primera vez', 'Segunda vez', 'Tercera vez', 'Periodica'] %>
  </p>
  <p>
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>
</div> </div>
</center>